{% set idList = 'listCompanies' %}
{% set titleBody = 'Empresas' %}
{% extends 'CaogHorariosBundle::/general/listBase.html.twig' %}
{% block theadList %}
    <th>Name</th>
    <th>Pais</th>
    <th>Departamento</th>
    <th>Ciudad</th>
    <th>Localidad</th>
    <th>Direccion</th>
    <th>Opciones</th>
{% endblock %}
{% block tbodyList %}
    {% for empresa in empresas  %}
        <tr>
            <td>{{empresa.nombre}}</td>
            <td>{{empresa.pais}}</td>
            <td>{{empresa.Departamento}}</td>
            <td>{{empresa.Ciudad}}</td>
            <td>{{empresa.Localidad}}</td>
            <td>{{empresa.Direccion}}</td>
            <td>
                <a class="btn btn-success" href="{{path('caog_horarios_empresa_actividad_register', {'idEmpresa': empresa.getId})}}"><i class="glyphicon glyphicon-plus"></i> Actividad</a>
                <a class="btn btn-info" href="{{path('caog_horarios_empresa_actividad_list', {'idEmpresa': empresa.getId})}}"><i class="glyphicon glyphicon-search"></i> Actividades</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
