{% set titleBody = 'Resumen del registro' %}
{% extends 'CaogHorariosBundle::layout.html.twig' %}
{% block body %}
    <div class="panel panel-success">
        <div class="panel-heading">Datos empresariales</div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="col-md-3"><b>Nombre</b></div>
                <div class="col-md-9">{{empresa.getNombre()}}</div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Datos de localizacion</div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="col-md-3"><b>Pais</b></div>
                <div class="col-md-9">{{empresa.getPais()}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3"><b>Departamento</b></div>
                <div class="col-md-9">{{empresa.getDepartamento()}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3"><b>Ciudad</b></div>
                <div class="col-md-9">{{empresa.getCiudad()}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3"><b>Localidad</b></div>
                <div class="col-md-9">{{empresa.getLocalidad()}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3"><b>Dirección</b></div>
                <div class="col-md-9">{{empresa.getDireccion()}}</div>
            </div>
        </div>
    </div>
{% endblock %}