{% set idList = 'listUsers' %}
{% set titleBody = 'Usuarios' %}
{% extends 'CaogHorariosBundle::/general/listBase.html.twig' %}
{% block theadList %}
    <th>Name</th>
    <th>Apellidos</th>
    <th>Edad</th>
    <th>Pais</th>
    <th>Departamento</th>
    <th>Ciudad</th>
    <th>Localidad</th>
    <th>Direccion</th>
    <th>Opciones</th>
{% endblock %}
{% block tbodyList %}
    {% for usuario in usuarios  %}
        <tr>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellidos}}</td>
            <td>{{usuario.edad}}</td>
            <td>{{usuario.pais}}</td>
            <td>{{usuario.Departamento}}</td>
            <td>{{usuario.Ciudad}}</td>
            <td>{{usuario.Localidad}}</td>
            <td>{{usuario.Direccion}}</td>
            <td>
                <a class="btn btn-primary" href="{{path('caog_horarios_user_timetable', {'id': usuario.id})}}" title="Consultar horario"> <i class="glyphicon glyphicon-calendar"></i></a>
                <a class="btn btn-primary" href="{{path('caog_horarios_usuario_franjas_publicas_crear', {'idUser': usuario.id})}}" title="Generar franjas"> <i class="glyphicon glyphicon-cog"></i></a>
                <a class="btn btn-success" href="{{path('caog_horarios_usuario_actividad_register', {'id': usuario.id})}}" title="Adicionar actividad"><i class="glyphicon glyphicon-plus"></i> <i class="glyphicon glyphicon-blackboard"></i></a>
                <a class="btn btn-info" href="{{path('caog_horarios_usuario_actividad_list', {'id': usuario.id})}}"  title="Consultar actividades"><i class="glyphicon glyphicon-search"></i> <i class="glyphicon glyphicon-blackboard"></i></a>
                <a class="btn btn-success" href="#" title="Vincular entidad"><i class="glyphicon glyphicon-link"></i> <i class="glyphicon glyphicon-tent"></i></a>
                <a class="btn btn-info" href="#" title="Consultar entidades"><i class="glyphicon glyphicon-search"></i> <i class="glyphicon glyphicon-tent"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
