{% set titleBody = 'Registrar usuario' %}
{% extends 'CaogHorariosBundle::layout.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="panel panel-default">
        <div class="panel-heading">Datos personales</div>
        <div class="panel-body">
            <div class="row">
                {{ form_errors(form.nombre) }}
                <div class=" col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">{{ form_label(form.nombre) }}</span>
                        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control col-md-6','aria-describedby': 'basic-addon3'} }) }}
                    </div></div>

                {{ form_errors(form.apellidos) }}
                <div class=" col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">{{ form_label(form.apellidos) }}</span>
                        {{ form_widget(form.apellidos, { 'attr': {'class': 'form-control','aria-describedby': 'basic-addon3'} }) }}
                    </div></div>
            </div><br>
            <div class="row">
                {{ form_errors(form.edad) }}
                <div class=" col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">{{ form_label(form.edad) }}</span>
                        {{ form_widget(form.edad, { 'attr': {'class': 'form-control','aria-describedby': 'basic-addon3'} }) }}
                    </div></div>
            </div><br>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Datos de residencia</div>
        <div class="panel-body">
            <div class="row">
                {{ form_errors(form.pais) }}
                <div class=" col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">{{ form_label(form.pais) }}</span>
                        {{ form_widget(form.pais, { 'attr': {'class': 'form-control','aria-describedby': 'basic-addon3'} }) }}
                    </div></div>

                {{ form_errors(form.departamento) }}
                <div class=" col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">{{ form_label(form.departamento) }}</span>
                        {{ form_widget(form.departamento, { 'attr': {'class': 'form-control','aria-describedby': 'basic-addon3'} }) }}
                    </div></div>

                {{ form_errors(form.ciudad) }}
                <div class=" col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">{{ form_label(form.ciudad) }}</span>
                        {{ form_widget(form.ciudad, { 'attr': {'class': 'form-control','aria-describedby': 'basic-addon3'} }) }}
                    </div></div>
            </div><br>
            <div class="row">
                {{ form_errors(form.localidad) }}
                <div class=" col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">{{ form_label(form.localidad) }}</span>
                        {{ form_widget(form.localidad, { 'attr': {'class': 'form-control','aria-describedby': 'basic-addon3'} }) }}
                    </div></div>

                {{ form_errors(form.direccion) }}
                <div class=" col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">{{ form_label(form.direccion) }}</span>
                        {{ form_widget(form.direccion, { 'attr': {'class': 'form-control','aria-describedby': 'basic-addon3'} }) }}
                    </div></div>
            </div><br>
        </div>
    </div>



    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success col-md-12'} }) }}
</div>

{{ form_end(form) }}

{% endblock %}