{% set idList = 'listCompanies' %}
{% set titleBody = 'Actividades' %}
{% extends 'CaogHorariosBundle::/general/listBase.html.twig' %}


{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('public/fullcalendar-2.8.0/lib/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/fullcalendar-2.8.0/fullcalendar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/fullcalendar-2.8.0/lang-all.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <script type="text/javascript">
        $(document).ready(function() {
		var currentLangCode = 'es';

		// build the language selector's options
		$.each($.fullCalendar.langs, function(langCode) {
			$('#lang-selector').append(
				$('<option/>')
					.attr('value', langCode)
					.prop('selected', langCode == currentLangCode)
					.text(langCode)
			);
		});

		// rerender the calendar when the selected option changes
		$('#lang-selector').on('change', function() {
			if (this.value) {
				currentLangCode = this.value;
				$('#calendar').fullCalendar('destroy');
				renderCalendar();
			}
		});

		function renderCalendar() {
			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				defaultDate: '2016-06-12',
				lang: currentLangCode,
				buttonIcons: false, // show the prev/next text
				weekNumbers: true,
				editable: true,
				eventLimit: true, // allow "more" link when too many events
				
			});
		}

		renderCalendar();
	});
    </script>
    
    <div class="row">
        {% for flashMessage in app.session.flashbag.get('mensaje') %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{flashMessage}}
            </div>
        {% endfor%}
        {{ parent() }}
    </div>
    <div id='calendar'>
        
    </div>
{% endblock %}
{% block theadList %}
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Prioridad</th>
    <th>Pais</th>
    <th>Departamento</th>
    <th>Ciudad</th>
    <th>Localidad</th>
    <th>Direccion</th>
    <th>Opciones</th>
{% endblock %}
{% block tbodyList %}
    {% for actividad in actividades  %}
        <tr>
            <td>{{actividad.nombre}}</td>
            <td>{{actividad.tipo}}</td>
            <td>{{actividad.prioridad}}</td>
            <td>{{actividad.pais}}</td>
            <td>{{actividad.Departamento}}</td>
            <td>{{actividad.Ciudad}}</td>
            <td>{{actividad.Localidad}}</td>
            <td>{{actividad.Direccion}}</td>
            <td>
                <a class="btn btn-success" href="{{path('caog_horarios_usuario_actividad_vincular', {'id': actividad.id})}}"><i class="glyphicon glyphicon-plus"></i> Informacion</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
