{% set idList = 'listCompanies' %}
{% set titleBody = 'Empresas' %}
{% extends 'CaogHorariosBundle::/general/listBase.html.twig' %}
{% block theadList %}
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Prioridad</th>
    <th>Empresa</th>
    <th>Pais</th>
    <th>Departamento</th>
    <th>Ciudad</th>
    <th>Localidad</th>
    <th>Direccion</th>
    <th>Opciones</th>
{% endblock %}
{% block tbodyList %}
    {% for actividad in actividades  %}
        <tr>
            <td>{{actividad.nombre}}</td>
            <td>{{actividad.tipo}}</td>
            <td>{{actividad.prioridad}}</td>
            <td>{{actividad.empresa.nombre}}</td>
            <td>{{actividad.pais}}</td>
            <td>{{actividad.Departamento}}</td>
            <td>{{actividad.Ciudad}}</td>
            <td>{{actividad.Localidad}}</td>
            <td>{{actividad.Direccion}}</td>
            <td>
                <a class="btn btn-success" href="#"><i class="glyphicon glyphicon-plus"></i> Informacion</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
