{% extends 'CaogHorariosBundle::layout.html.twig' %}
{% set idList = 'listCompanies' %}
{% set titleBody = 'Vincular información' %}
{% block body %}
    <script type="text/javascript">
        
            // Obtiene la ul que contiene la colección de etiquetas
    
    
    // configura una enlace "Agregar una etiqueta"
    var $addTagLink = $('<a href="#" class="btn btn-success add_tag_link" title="Agregar">+</a>');
    var $newLinkLi = $('<li></li>').append($addTagLink);

    $(document).ready(function() {  
        // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
        var collectionHolder = $('ul.actividadfranja');
        collectionHolder.append($newLinkLi);
        $("#actividad_franja_vincular_actividadfranja").parent().remove();

        // cuenta las entradas actuales en el formulario (p. ej. 2),
        // la usa como índice al insertar un nuevo elemento (p. ej. 2)
        collectionHolder.data('index', collectionHolder.find(':input').length);

        $addTagLink.on('click', function(e) {
            // evita crear el enlace con una "#" en la URL
            e.preventDefault();

            // añade una nueva etiqueta form (ve el siguiente bloque de código)
            addTagForm(collectionHolder, $newLinkLi);
        });
    });
    function addTagForm(collectionHolder, $newLinkLi) {
        // Obtiene los datos del prototipo explicado anteriormente
        var prototype = collectionHolder.data('prototype');

        // Consigue el nuevo índice
        var index = collectionHolder.data('index');

        // Sustituye el '__name__' en el prototipo HTML para que
        // en su lugar sea un número basado en cuántos elementos hay
        var newForm = prototype.replace(/__name__/g, index);

        // Incrementa en uno el índice para el siguiente elemento
        collectionHolder.data('index', index + 1);

        // Muestra el formulario en la página en un elemento li,
        // antes del enlace 'Agregar una etiqueta'
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
        addTagFormDeleteLink($newFormLi);
    }
    function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#" class="btn btn-danger" title="Eliminar">-</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
    </script>
    
    <div class="panel panel-default">
    <div class="row"> </div>
                {% for flashMessage in app.session.flashbag.get('mensaje') %}
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{flashMessage}}
                    </div>
                {% endfor%}
    <div class="row"> &nbsp; </div>
    {{ form_start(form,{'attr':{'id':'actividad_franja_vincular'} } ) }}
        {% set dias = {'1': 'Lunes','2':'Martes','3':'Miercoles','4':'Jueves','5':'Viernes','6':'Sabado','7':'Domingo'} %}
        
        <ul class="actividadfranja" data-prototype="{{ form_widget(form.actividadfranja.vars.prototype)|e}}">
            {% for franja in franjas %}
            <li>
            <div id="actividad_franja_vincular_actividadfranja_{{ loop.index }}">
                <div><label class="labelForm  required" for="actividad_franja_vincular_actividadfranja_{{ loop.index }}_actFraDia">Dia:</label>
                    <select id="actividad_franja_vincular_actividadfranja_{{ loop.index }}_actFraDia" name="actividad_franja_vincular[actividadfranja][{{ loop.index }}][actFraDia]" required="required" class="inputForm" data-error="Por favor selecciona una opción.">
                        <option value="" >Seleccione</option>
                        {% for key,dia in dias %} 
                            <option value="{{key}}" {% if key == franja.actFraDia %}{{'selected="selected"'}}{% endif %}>{{dia}}</option>     
                        {% endfor %}
                        
                    </select>
                </div>
                <div>
                    <label class="labelForm required" for="actividad_franja_vincular_actividadfranja_{{ loop.index }}_actFraDuracion">Duración:</label>
                    <input type="text" id="actividad_franja_vincular_actividadfranja_{{ loop.index }}_actFraDuracion" name="actividad_franja_vincular[actividadfranja][{{ loop.index }}][actFraDuracion]" required="required" class="inputForm" data-error="Por favor completa este campo." maxlength="300" value="{{franja.actFraDuracion}}">
                </div>
                <div>
                    <label class="labelForm required" for="actividad_franja_vincular_actividadfranja_{{ loop.index }}_actHoraInicio">Hora de inicio:  </label>
                    <input type="time" id="actividad_franja_vincular_actividadfranja_{{ loop.index }}_actHoraInicio" name="actividad_franja_vincular[actividadfranja][{{ loop.index }}][actHoraInicio]" required="required" class="inputForm" data-error="Por favor completa este campo." maxlength="10" placeholder="AAAA-MM-DD" value="{{franja.actHoraInicio|date('H:i')}}">
                </div>
            </div>
            <a href="#" class="btn btn-danger" title="Eliminar">-</a>
            </li>
        {% endfor%}
        </ul>  
    {{ form_errors(form) }}
    {{ form_end(form)}}
    </div>

  
{%endblock%}
